@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navWrapper{
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    padding: 8px 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 90%;

}

.landingPopup {
    background-color: #F7F7F7;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}

.landingPopup p {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer; 
    width: 40%;
    margin: auto;
    font-weight: 500;
}
.navLogo {
    display: inline-block;
    width: 21%;
    padding: 0;
}
.navLogo img {
    width: 125px;
    padding: 0;
}

.navMiddle {
    list-style: none;
    border-radius: 50px;
    border: 1px solid #E8E8E8;
    height: fit-content;
    padding: 3px 7px;
    box-shadow: 1px 2px 6px 0px #E8E8E8;
    cursor: pointer;
}

.navMiddle:hover {
    box-shadow: 0px 4px 5px 0px #E8E8E8;
    transition: 0.3s;
}

.navMiddle li {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 12px;
    border-right: 2px solid #E8E8E8;
    font-weight: 500;
}

.navMiddle .navliLast {
    border-right: none;
    font-weight: 400;
    color: #717171;
}
.navMiddle .navMiddleSearch{
    padding: 5px 5px 5px 1px;
    border-right: none;
}
.navMiddleSearch img {
    background-color: #FF385C;
    color: #fff;
    width: 13px;
    padding: 7px;
    border-radius: 50px;
}

.navLast {
    justify-content: space-around;
    display: inline-block;
}

.navL1 {
    display: inline-block; 
    font-weight: 500;
  
}


.navLast img {
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.navL2 {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    border: 1.5px solid #E8E8E8;
    height: fit-content;
    padding: 3px 7px;
    cursor: pointer;
}
.navL2:hover {
    box-shadow: 0px 4px 5px 0px #E8E8E8;
    transition: 0.3s;
}

.navLast .navL2 .menuIcon {
    width: 17px;
    padding: 6px 6px;
}

.navLast .navL2 .userIcon {
    width: 30px;
    padding: 6px 6px;
}

/* ---------Middle section -------------- */

.middleSection {
    padding: 8px 40px;
    margin-top: 15px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    
}

.middle1 {
    width: 70%;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
    vertical-align: middle;
}
.middleSection ul {
    
    list-style: none;
    width: 260%;
    display: flex;
    justify-content: space-between;

}

.middleSection ul li{
    cursor: pointer;
    opacity: 0.6;

}

.middleSection ul li:hover{
    opacity:1;
}

.middleIcons img {
    width: 24px;
    display: block;
    margin: auto;
}

.lastArrowBack {
    position: absolute;
}
.arrowBack {
    position: absolute;
    width: 24px;
    display: block;
    margin: auto;
    

}
.middleIcons p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    

}

.middleSection ul li:hover p{
    border-bottom: 3px solid;
    padding-bottom: 7px;
}

.middleFilter{
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    border: 1.5px solid #E8E8E8;
    height: fit-content;
    padding: 2px 14px;
    cursor: pointer;


}
.middleFilter img{
    display: inline-block;
    padding: 13px 6px;
    width: 17px;
    height: auto;
    vertical-align: middle;
}
.middleFilter p {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
}
.taxButton{
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    border: 1.5px solid #E8E8E8;
    height: fit-content;
    padding: 2px 14px 2px 14px;
    cursor: pointer;
}

.taxButton p {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
    padding: 13px 6px 13px 6px;
}

.taxButton .switch {
    vertical-align: middle;
}
/* ---------------- Toogle -----------------------*/
#switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
  }

  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b0b0b0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 23px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #222222;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #222222;
  }
  
  input:checked + .slider:before {
    
    transform: translateX(11px);
  }
  
 
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* --------------Image grid --------------------*/

.contentGrid {
    box-sizing: border-box;
    margin-top: 20px;
    align-items: center;
    padding: 8px 40px;
       
}
.contentGridRow {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 45px;

}
.gridBox {
    display: grid;
    width: 23.5%;
    height:100%;
    

}
.like-button {
    position: absolute;
    top: 18px;
    right: 20px;
}

.like-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-icon .fa-heart {
    color: #222222;
    
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


.heart-icon {
    font-size: 24px;
    color: #ccc; 
    cursor: pointer;
    transition: color 0.3s ease; 
    
}


.like-icon .fa-heart.filled {
    color: rgba(255, 0, 0, 0.82);
    text-shadow: none;
}
  
.image-gallery {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    border-radius: 100%;
    background-color: white;
    transform: translateY(-50%);
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2.5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
.gridBox .prev-button img {
    text-decoration: none;
    background-color: none;
    width: 10px;
    height: 10px;

}

.next-button {
    right: 10px;
}
.prev-button {
    left: 10px;
}
.gridBox img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5%;
    
}
.gridContent{
    height: 90px;

}
.gridContent span{
    float: right;
}
.gridContent span img{
    width: auto;
    height: 12.5px;
    padding: 0;
    margin: 0;
}


.gridBox a {
    text-decoration: none;
    padding-top: 20px;
    color: #000;
}

.gridBox h4 {
    font-weight: 500;
    padding-top: 8px;

}

.gridBox p {
    font-weight: 300;
    padding-top: 4px;
    color: #717171;

}





@media (min-width: 1440px) { 
    .navWrapper {
        padding: 8px 80px;
    }
    .middleSection{
        padding: 8px 80px;
    }
    .contentGrid{
        padding: 8px 80px;
    }
    .landingPopup p {
        font-size: 18px;
    }
    
}

@media (min-width: 1128px) {}

@media (min-width: 744px)  {}